.c-our-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray-50);
  padding: 4rem 2rem;

  @media screen and (max-width: 540px) {
    padding: 3rem 1rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 540px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  p {
    width: 100%;
    max-width: 39.75rem;
    font-family: "Muli";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.875rem;
    text-align: center;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .c-cards-products {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1220px) {
      grid-template-columns: 1fr;
    }
  }
}
