.subscribe-membership {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;

  @media screen and (max-width: 1200px) {
    padding: 3rem 2rem;
  }

  @media screen and (max-width: 640px) {
    padding: 2rem 1rem;
  }

  .subscribe-membership-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .c-subscribe-membership {
      h2 {
        width: 60%;
        font-weight: 600;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 1620px) {
          width: 80%;
        }

        @media screen and (max-width: 1200px) {
          margin-bottom: 2rem;
          text-align: center;
          width: 100%;
        }

        @media screen and (max-width: 640px) {
          line-height: 3.5rem;
        }

        @media screen and (max-width: 380px) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }

      div {
        display: flex;

        @media screen and (max-width: 1200px) {
          justify-content: center;
        }

        input {
          width: 100%;
          max-width: 25rem;
          margin-right: 1rem;
          border: 1px solid var(--black);
          border-radius: 6px;
          padding: 0.875rem;
        }

        button {
          border: 0;
          padding: 0 2rem;
          background: var(--green-300);
          color: var(--white);
          border-radius: 5px;
          box-shadow: rgba(186, 220, 88, 0.5) 0px 13px 27px -5px,
            rgba(186, 220, 88, 0.7) 0px 8px 16px -8px;
          font-size: 1.2rem;
        }
      }
    }
  }

  .subscribe-image {
    display: flex;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
